<template>
        <article class="slds-card">
            <div class="slds-card__header slds-grid">
                <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__figure">
                    <span class="slds-icon_container slds-icon-standard-account" title="account">
                    <svg class="slds-icon slds-icon_small" aria-hidden="true" style="padding: 3px;">
                        <use xlink:href={travelIcon}></use>
                    </svg>
                    <span class="slds-assistive-text">Upcoming Trips</span>
                    </span>
                </div>
                <div class="slds-media__body">
                        <h2 class="slds-card__header-title">
                                <span>Upcoming Trips</span>
                        </h2>
                </div>
                <div class="slds-no-flex">
                        <button class="slds-button" onclick={addTrip}>
                                <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                                  <use xlink:href={addIcon}></use>
                                </svg>
                                Add Trip
                        </button>
                </div>
                </header>
            </div>
        </article>
        <template if:true={isTripAvailable}>
            <div class="slds-grid slds-wrap trips slds-m-top_medium">
                <template for:each={trips} for:item="item">
                        <div key={item.Tdid} class="slds-size_1-of-1 slds-m-bottom_small">
                            <article class="slds-card">
                                <div class="slds-card__body slds-card__body_inner">
                                    <div class="slds-grid slds-wrap slds-gutters_direct">
                                        <div class="slds-col slds-no-flex slds-p-vertical_xx-small">
                                            {item.FromDate} - {item.ToDate} <br/><br/>
                                            {item.In} Days of Trip to {item.City} {item.State}, {item.Country}
                                        </div>
                                        <div class="slds-col slds-p-vertical_xx-small slds-text-align_right">
                                                <button onclick={deleteTrip} data-tdid={item.Tdid} class="slds-button slds-button_icon slds-button_icon-border-filled">
                                                    <svg class="slds-button__icon" aria-hidden="true">
                                                        <use xlink:href={closeIcon}></use>
                                                    </svg>
                                                    <span class="slds-assistive-text">Close</span>
                                                </button>
                                        </div>
                                        <div class="slds-col slds-size_1-of-1 slds-p-top_small">
                                            <button class="slds-button slds-button_neutral" data-tdid={item.Tdid} onclick={viewDetails}>
                                                View Details
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                </template>
                
            </div>
        </template>
        <template if:false={isTripAvailable}>
                <div class="slds-illustration slds-illustration_small slds-m-top_large">
                    <div class="slds-text-longform">
                        <h3 class="slds-text-heading_medium">No upcoming trip!</h3>
                        <p class="slds-text-body_regular">Add upcoming trip using add button.</p>
                    </div>
                </div>
        </template>
</template>