<template>
    <header class="header">
            <a href="" class="logo">My Biz Trip</a>
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            
            <ul class="menu">
                <li><a href="#about">About</a></li>
                <template if:true={isLogin}>
                    <li><a href="javascript:void(0)" onclick={logOut}>Logout</a></li>
                </template>
            </ul>
    </header>
    <div class="slds-grid slds-wrap">
        <div class="slds-size_1-of-1 header-image" style="background-image: url('../../resources/img/header.jpg')"></div>
        <div class="slds-size_1-of-1 container" lwc:dom="manual" onnavigate={handleNavigation}>
            <!-- Components will be loaded here -->
        </div>
    </div>
    <div class="slds-grid slds-wrap footer">
            <div class="slds-size_1-of-1 slds-p-around_small slds-text-align_center">
                    <h2>Made With Love And Coffee</h2>
            </div>
    </div>
</template>
