<template>
    <article class="slds-card">
        <div class="slds-card__header slds-grid">
            <header class="slds-media slds-media_center slds-has-flexi-truncate">
            <div class="slds-media__figure">
                <span class="slds-icon_container slds-icon-standard-account" title="account">
                <svg class="slds-icon slds-icon_small" aria-hidden="true" style="padding: 3px">
                    <use xlink:href={travelIcon}></use>
                </svg>
                <span class="slds-assistive-text">Enter Your Trip Details</span>
                </span>
            </div>
            <div class="slds-media__body">
                <h2 class="slds-card__header-title">
                    <span>Enter Your Trip Details</span>
                </h2>
            </div>
            </header>
        </div>
        <div class="slds-card__body slds-card__body_inner">
            <div class="slds-grid slds-wrap slds-gutters_direct">
                <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2 slds-p-top_xx-small">
                    <slds-input label="From" name="FromDate" type="date" required></slds-input>
                </div>
                <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2 slds-p-top_xx-small">
                        <slds-input label="To" name="ToDate" type="date" required></slds-input>
                </div>
                <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2 slds-p-top_xx-small">
                        <slds-input label="Country" name="Country" type="text" required></slds-input>
                </div>
                <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2 slds-p-top_xx-small">
                        <slds-input label="State" name="State" type="text" required></slds-input>
                </div>
                <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2 slds-p-top_xx-small">
                        <slds-input label="City" name="City" type="text" required></slds-input>
                </div>
                <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2 slds-p-top_xx-small">
                        <slds-input label="Street" name="Street" type="text" ></slds-input>
                </div>
                <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2 slds-p-top_xx-small">
                        <slds-input label="Province" name="Province" type="text" ></slds-input>
                </div>
                <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2 slds-p-top_xx-small">
                        <slds-input label="Daily Allowance" required name="DailyAllowance" type="number" ></slds-input>
                </div>
                <div class="slds-col slds-size_1-of-1 slds-m-top_medium">
                    <button class="slds-button slds-button_brand" onclick={save}>
                            <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                                <use xlink:href={saveIcon}></use>
                            </svg>
                            Save
                    </button>
                    <button class="slds-button slds-button_neutral" onclick={cancel}>
                            <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                                <use xlink:href={closeIcon}></use>
                            </svg>
                            Cancel
                    </button>
                </div>
                <template if:true={isErrror}>
                    <div class="slds-col slds-size_1-of-1 slds-m-top_small slds-text-color_error">
                        {errorMsg}
                    </div>
                </template>
            </div>
        </div>
</article>
</template>