<template>
    <div class={inputClass}>
        <template if:false={labelHidden}>
            <label class="slds-form-element__label" for={inputId}>
                <template if:true={required}>
                        <abbr class="slds-required" title="required">* </abbr>
                </template>
                {label}
            </label>
        </template>
        <template if:true={disabled}>
                <div class="slds-form-element__control">
                        <input type={type}
                               value={value}
                               disabled
                               placeholder={placeholder} 
                               class="slds-input" />
                    </div>
        </template>
        <template if:false={disabled}>
                <div class="slds-form-element__control">
                    <input type={type}
                            id={inputId} 
                            value={value}
                            placeholder={placeholder} 
                            onblur={onValueChange}
                            class="slds-input" />
                </div>
                <template if:false={isComponentValid}>
                        <div class="slds-form-element__help">{errorMessage}</div>
                </template>
        </template>
    </div>
</template>