.slds-form-element__label {
    font-size: 0.9rem;
}
::-webkit-input-placeholder { /* Edge */
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.9rem;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.9rem;
  }
  
  ::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.9rem;
  }