<template>
    <article class="slds-card">
        <div class="slds-card__header slds-grid">
            <header
                class="slds-media slds-media_center slds-has-flexi-truncate"
            >
                <div class="slds-media__figure">
                    <span
                        class="slds-icon_container slds-icon-standard-account"
                        title="account"
                    >
                        <svg
                            class="slds-icon slds-icon_small"
                            aria-hidden="true"
                        >
                            <use xlink:href={userRoleIcon}></use>
                        </svg>
                        <span class="slds-assistive-text">Sign Up</span>
                    </span>
                </div>
                <div class="slds-media__body">
                    <h2 class="slds-card__header-title">
                        <a
                            href="javascript:void(0);"
                            class="slds-card__header-link slds-truncate"
                            title="Sign Up"
                        >
                            <span>Sign Up</span>
                        </a>
                    </h2>
                </div>
            </header>
        </div>
        <div class="slds-card__body slds-card__body_inner">
            <div class="slds-grid slds-gutters">
                <div class="slds-col">
                    <slds-input
                        label="Phone Number"
                        required
                        type="phone"
                        class="inputClass"
                        data-id="PhoneNo"
                    ></slds-input>
                </div>
                <div class="slds-col">
                    <label
                        class="slds-form-element__label"
                        style="font-size:0.9em;"
                        >Country</label
                    >
                    <select
                        class="slds-select inputClass"
                        data-id="HomeCountry"
                    >
                        <option value="">Select Country</option>
                        <option value="Australia">Australia</option>
                        <option value="India">India</option>
                        <option value="UK">UK</option>
                        <option value="USA">USA</option>
                    </select>
                </div>
            </div>
            <div class="slds-grid slds-gutters slds-p-top_small">
                <div class="slds-col">
                    <slds-input
                        label="First Name"
                        required
                        class="inputClass"
                        data-id="FirstName"
                    ></slds-input>
                </div>
                <div class="slds-col">
                    <slds-input
                        label="Last Name"
                        required
                        class="inputClass"
                        data-id="LastName"
                    ></slds-input>
                </div>
            </div>
        </div>
        <div class="slds-p-around_large">
            <button class="slds-button slds-button_brand slds-m-right_small" onclick={signupUser}>
                Sign Up
            </button>
            <span>
                    Already a user? <a href="#/login">Login</a>
            </span>
        </div>
    </article>
</template>
