<template>
    <article class="slds-card">
        <div class="slds-card__header slds-grid">
            <header
                class="slds-media slds-media_center slds-has-flexi-truncate"
            >
                <div class="slds-media__figure">
                    <span
                        class="slds-icon_container slds-icon-standard-account"
                        title="account"
                    >
                        <svg
                            class="slds-icon slds-icon_small"
                            aria-hidden="true"
                        >
                            <use xlink:href={loginIcon}></use>
                        </svg>
                        <span class="slds-assistive-text">Login</span>
                    </span>
                </div>
                <div class="slds-media__body">
                    <h2 class="slds-card__header-title">
                        <span>Login</span>
                    </h2>
                </div>
            </header>
        </div>
        <div class="slds-card__body slds-card__body_inner">
            <div
                class="slds-grid slds-wrap slds-gutters_direct slds-p-vertical_small"
            >
                <div
                    class="slds-col slds-size_1-of-1 slds-m-top_small"
                >
                    <slds-input
                        type="phone"
                        class="login-input"
                        label-hidden
                        required
                        placeholder="Phone Number"
                    ></slds-input>
                </div>
                <div
                    class="slds-col slds-size_1-of-1 slds-m-top_small"
                >
                    <div class="slds-grid slds-wrap slds-m-top_xx-small slds-gutters_direct">
                            <div class="slds-col slds-no-flex ">
                                    <button
                                    class="slds-button slds-button_brand"
                                    onclick={login}
                                >
                                    <svg class="slds-button__icon" aria-hidden="true">
                                        <use xlink:href={buttonIcon}></use>
                                    </svg>
                                    &nbsp; Go
                                </button>
                            </div>
                            <div class="slds-col slds-no-flex">
                                <div class="slds-p-top_x-small">Not a user? <a href="#/signup">Signup</a></div>
                            </div>
                    </div>
                    
                </div>
            </div>
            <template if:true={isError}>
                <div class="slds-grid slds-wrap">
                    <div class="slds-size_1-of-1 slds-text-color_error">
                        {errorMsg}
                    </div>
                </div>
            </template>
            
        </div>
    </article>
</template>
